@model Lab3_test4.Models.FormModel
@{ ViewData["Title"] = "Form-Created"; }



<div class="text-left">
    <h1 class="display-4">Dane z formularza</h1>
    @Html.DisplayNameFor(model => model.Name):          @Html.DisplayFor(model => model.Name)
    <br />
    @Html.DisplayNameFor(model => model.IloscP):   @Html.DisplayFor(model => model.IloscP)

</div> 
@{ void RenderName(string name)
    {
        <p>Name: <strong>@name</strong></p> }


        for (int i = 1; i <= Model.IloscP; i++)
        {

            RenderName(Model.Name);
        };
    }

